.usuario {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.usuario__imagem {
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.usuario__nome {
    font-size: 17px;
    font-weight: 700;
}

.usuario__cargo {
    color: #A700D0;
    font-size: 14px;
}
