.menu-lateral {
    align-items: center;
    background-color: #DCDCDC;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 20px 30px;
    width: 300px;
    position: fixed;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .menu-lateral {
        display: none;
    }
}