.aviso {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.aviso__conteudo {
    background-color: white;
    padding: 40px 20px 20px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.aviso__conteudo span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.aviso__fechar {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: #A700D0;
    cursor: pointer;
}
